In [2]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [29]:
index = [1,2,3]
names = ['Refal','Abrar','Teaf']
s1 = pd.Series(names, index=index)
s1

1    Refal
2    Abrar
3     Teaf
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [30]:
s1.index = [11,12,13]
s1

11    Refal
12    Abrar
13     Teaf
dtype: object

## Q3: Retrieve First and second elements.

In [9]:
s_name=s[0:2]
s_name

11    Refal
12    Abrar
dtype: object

## Q4: Add duplicate elements, then remove the duplication.

In [28]:
index = [1,2,3]
names = ['Refal','Abrar','Teaf']
s2 = pd.Series(names, index=index)

s3 = pd.concat([s1, s2])
s3=s3.drop_duplicates()
s3

1    Refal
2    Abrar
3     Teaf
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [19]:
students= pd.DataFrame(columns=['ID', 'Name', 'GPA'])
students

Empty DataFrame
Columns: [ID, Name, GPA]
Index: []

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [26]:
data =pd.read_csv("educ_figdp_1_Data.csv")
print(data.head())

   TIME                            GEO  \
0  2000  European Union (28 countries)
1  2001  European Union (28 countries)
2  2002  European Union (28 countries)
3  2003  European Union (28 countries)
4  2004  European Union (28 countries)

                                            INDIC_ED Value Flag and Footnotes
0  Total public expenditure on education as % of ...     :                NaN
1  Total public expenditure on education as % of ...     :                NaN
2  Total public expenditure on education as % of ...  5.00                  e
3  Total public expenditure on education as % of ...  5.03                  e
4  Total public expenditure on education as % of ...  4.95                  e

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [37]:
## loc
index = [1,2,3,4,5,6]
values = [10,20,30,40,50,60]
s_loc = pd.Series(values,index=index)
print(s_loc.loc[2:4])

## slice
s_slice = s_loc[3:5]
print(s_slice)

2    20
3    30
4    40
dtype: int64
4    40
5    50
dtype: int64